.ct-series-a.ct-bar {
    
    stroke: goldenrod;
    
    stroke-width: 30px;
}

.ct-series-b.ct-bar {
    
    stroke: royalblue;
    
    stroke-width: 25px;
}

.temp-box {
    width: 50px;
}

.temp {
    display: inline-flex;
}

.max {
    background-color: goldenrod;
}

.min {
    background-color: royalblue;
}

.subt {
    display: block;
    color: blueviolet;
    font-size: large;
}

.centro {
    text-align: center;
}

.temp-box {
    width: 50px;
}